@import '../util/colors.css';
@import '../../fonts/Fonts.css';

.VerticalCardExercise {
    -fx-min-width: 380px;
    -fx-pref-width: 380px;
    -fx-max-width: 380px;
    -fx-min-height: 416px;
    -fx-pref-height: 416px;
    -fx-max-height: 416px;
    -fx-background-color: -mfx-white;
    -fx-background-radius: 9px;
    -fx-spacing: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.14), 32, 0, 0, 8);
}
.VerticalCardExercise:hover {
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-translate-z: 0;
}

.wrapper-icon {
    -fx-min-height: 160px;
    -fx-pref-height: 160px;
    -fx-max-height: 160px;
    -fx-background-color: -mfx-under-window-background;
    -fx-background-radius: 9px 9px 0px 0px;
}
.icon-exercise-card {
    -fx-icon-size: 56px;
    -fx-icon-color: -mfx-color-black-text-primary;
}

.header-wrapper {
    -fx-padding: 16px;
    -fx-alignment: top-right;
}
.center-card {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-alignment: top-left;
    -fx-spacing: 8px;
    -fx-padding: 16px;
 }

.content-title-topic {
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-spacing: 4px;
    -fx-alignment: top-left;
}

.text {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-graphic-text-gap: 8px;
    -fx-content-display: left;
}
.text.category {
    -fx-padding: 6px 12px;
    -fx-background-color: -mfx-color-black-text-primary;
    -fx-background-radius: 18px;
    -fx-font-family: "SF Pro Display SemiBold";
    -fx-font-size: 11px;
    -fx-text-fill: -mfx-color-white-text-primary;
}
.text.titlee {
    -fx-font-family: "SF Pro Display SemiBold";
    -fx-font-size: 17px;
}
.text.difficulty {
    -fx-font-family: "SF Pro Display Medium";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-black-text-secondary;
}

.text.topic {
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 15px;
}
.text.score {
    -fx-font-family: "SF Pro Display Medium";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-black-text-secondary;
}

.deescrption {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: 80px;
    -fx-pref-height: 80px;
    -fx-max-height: 80px;
    -fx-background-color: -mfx-white;
    -fx-background-radius: 9px;
    -fx-padding: 8px 0px;
    -fx-alignment: top-left;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-black-text-secondary;
    -fx-prompt-text-fill: -mfx-color-black-text-secondary;
    -fx-highlight-text-fill: -mfx-color-black-text-primary;
    -fx-highlight-fill: -mfx-highlight-color;
}
.deescrption:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}
.deescrption .scroll-pane .scroll-bar:vertical,
.deescrption .scroll-pane .scroll-bar:horizontal,
.deescrption .scroll-pane .corner {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.no-scroll-area {
    -fx-padding: 8px;
}
.deescrption .viewport .content{
    -fx-padding: 0;
    -fx-border-color: -mfx-white;
    -fx-background-color: -mfx-white;
}

.component {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-spacing: 4px;
}
.container-score {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-background-color: -mfx-under-window-background;
    -fx-background-radius: 9px;
    -fx-alignment: center;
    -fx-padding: 8px;
    -fx-spacing: 8px;
}
.container-score:hover .text.score {
    -fx-text-fill: -mfx-color-black-text-primary;
}
.container-score:hover #icon-score {
    -fx-icon-color: -mfx-color-black-text-primary;
}

.button-play {
    -fx-min-width: -1;
    -fx-min-height: 32px;
    -fx-pref-width: -1;
    -fx-pref-height: 32px;
    -fx-max-width: -1;
    -fx-max-height: 32px;
    -fx-background-color: -mfx-black;
    -fx-background-radius: 9px;
    -fx-alignment: center;
    -fx-font-family: "SF Pro Display Medium";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-white-text-secondary;
    -fx-graphic-text-gap: 8px;
    -fx-content-display: right;
    -fx-padding: 4px 16px;
    -fx-alignment: center;
}

.button-play:hover {
    -fx-text-fill: -mfx-color-white-text-primary;
}

.button-play:hover #icon-play {
    -fx-icon-color: -mfx-color-white-text-primary;
}

.button-play .mfx-ripple-generator {
    -mfx-ripple-color: transparent;
}
#icon-play {
    -fx-icon-code: "mdi2p-play";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-white-text-secondary;
}

#icon-difficulty{
    -fx-icon-code: "mdi2s-star-circle";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-secondary;
}
#icon-score {
    -fx-icon-code: "fltfal-data-histogram-24";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-secondary;
}
.center {
    -fx-alignment: center;
}
.center-right {
    -fx-alignment: center-right;

}
.padding {
    -fx-padding: 24px;
}

.button-admin-actions {
    -fx-min-width: 32px;
    -fx-pref-width: 32px;
    -fx-max-width: 32px;
    -fx-min-height: 32px;
    -fx-pref-height: 32px;
    -fx-max-height: 32px;
    -fx-background-color: -mfx-under-window-background;
    -fx-background-radius: 9px;
    -fx-alignment: center;
    -fx-content-display: graphic-only;
}

.button-admin-actions:hover #icon-delete,
.button-admin-actions:hover #icon-edit {
    -fx-icon-color: -mfx-color-black-text-primary;
}

.button-admin-actions .mfx-ripple-generator {
    -mfx-ripple-color: transparent;
}

#icon-delete {
    -fx-icon-code: "mdi2d-delete-empty";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-secondary;
}
#icon-edit {
    -fx-icon-code: "mdi2p-pencil";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-secondary;
}