@import '../util/colors.css';
@import '../../fonts/Fonts.css';

.root-borderpane{
    -fx-min-width: 1280px;
    -fx-pref-width: 1280px;
    -fx-max-width: 128px;
    -fx-min-height: 720px;
    -fx-pref-height: 720px;
    -fx-max-height: 720px;
    -fx-background-color: -mfx-white;
}

.header {
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: 75px;
    -fx-padding: 44px 0px 0px 0px;
    -fx-alignment: center;
}

.bottom {
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: 84px;
    -fx-padding: 0px 44px 44px 44px;
    -fx-alignment: center;
}

.button-base {
    -fx-min-width: 120px;
    -fx-pref-width: 120px;
    -fx-max-width: 120px;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-alignment: center;
    -fx-graphic-text-gap: 8px;
    -fx-content-display: left;
    -fx-background-color: -mfx-under-window-background;
    -fx-background-radius: 9px;
    -fx-font-family: "SF Pro Display SemiBold";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-black-text-secondary;
}
#icon-arrow {
    -fx-icon-code: "mdi2a-arrow-left";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-secondary;
}
.button-base:hover {
    -fx-text-fill: -mfx-color-black-text-primary;
}
.button-base:hover #icon-arrow {
    -fx-icon-color: -mfx-color-black-text-primary;
}

.button-base .mfx-ripple-generator {
    -mfx-ripple-color: transparent;
}

.button-base.next-create {
    -fx-background-color: -mfx-black;
    -fx-text-fill: -mfx-color-white-text-secondary;
}
.button-base:hover.next-create {
    -fx-text-fill: -mfx-color-white-text-primary;
}

.center-roo {
    -fx-padding: 24px 44px 24px 44px;
}

.hbox-component {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-spacing: 4px;
}
.hbox-component.center {
    -fx-alignment: center;
}

.hbox-component.spacing {
    -fx-spacing: 16px !important;
}
.vbox-component {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-spacing: 4px;
}
.vbox-component.center {
    -fx-alignment: center;
}
.vbox-component.spacing {
    -fx-spacing: 16px !important;
}


.forum {
    -fx-padding: 24px;
    -fx-spacing: 16px;
}


.text {
    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-graphic-text-gap: 8px;
    -fx-content-display: left;
}

.text.title-page {
    -fx-font-family: "SF Pro Display Bold";
    -fx-font-size: 26px;
}
.text.title-forum {
    -fx-font-family: "SF Pro Display Medium";
    -fx-font-size: 22px;
}
.text.floating {
    -fx-font-family: "SF Pro Display SemiBold";
    -fx-font-size: 15px;
}
.text.error {
    -fx-text-fill: -mfx-red-error !important;
    -fx-font-family: 'SF Pro Display Regular';
    -fx-font-size: 11px;
    -fx-graphic-text-gap: 4px !important;
}
#icon-error {
    -fx-icon-code: "mdi2a-alert-circle";
    -fx-icon-size: 11px;
    -fx-icon-color: -mfx-red-error;
}

#icon-page {
    -fx-icon-code: "mdi2p-pencil-circle";
    -fx-icon-size: 26px;
    -fx-icon-color: -mfx-color-black-text-primary;
}
#icon-difficulty{
    -fx-icon-code: "mdi2s-star-circle";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-primary;
}

#icon-category-find-error {
    -fx-icon-code: "mdi2b-bug";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-primary;
}

#icon-category-solve-code {
    -fx-icon-code: "mdi2c-code-json";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-primary;
}

#icon-category-output {
    -fx-icon-code: "mdi2c-code-greater-than";
    -fx-icon-size: 15px;
    -fx-icon-color: -mfx-color-black-text-primary;
}

.field {
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: 392px;
    -fx-pref-width: 392px;
    -fx-max-width: 392px;
    -fx-background-color: -mfx-white;
    -fx-background-radius: 9px;
    -fx-border-color: -mfx-color-separator;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;
    -fx-padding: 0px 8px;
    -fx-alignment: center-left;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-prompt-text-fill: -mfx-color-black-text-secondary;
    -fx-highlight-fill: -mfx-highlight-color;
    -fx-highlight-text-fill: -mfx-color-black-text-primary;
}
.field:hover {
    -fx-border-color: -mfx-gray-dark;
}

.mfx-combo-box-forum {
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-min-width: 392px;
    -fx-pref-width: 392px;
    -fx-max-width: 392px;
    -fx-background-color: -mfx-white;
    -fx-background-radius: 9px;
    -fx-border-color: -mfx-color-separator;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;
    -fx-padding: 0px 8px;
    -fx-alignment: center-left;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-prompt-text-fill: -mfx-color-black-text-secondary;
    -mfx-float-mode: DISABLED;
    -mfx-border-gap: 0px;
    -mfx-gap:4px;
}
.mfx-combo-box-forum:hover {
    -fx-border-color: -mfx-gray-dark;
}
.mfx-combo-box-forum .text-field,
.mfx-combo-box-forum  > .text,
.mfx-combo-box-forum  *{
    -fx-highlight-fill: -mfx-highlight-color;
}
.mfx-combo-box-forum  .floating-text {
    -fx-font-family: "SF Pro Display SemiBold";
    -fx-font-size: 13px;
    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-background-color: transparent;
}
.mfx-combo-box-forum  .caret .mfx-ripple-generator {
    -mfx-ripple-color: transparent;
}
.mfx-combo-box-forum  .caret .mfx-font-icon {
    -mfx-description: "fas-chevron-down";
    -mfx-color: -mfx-color-black-text-secondary;
}
.mfx-combo-box-cell {
    -fx-background-color: -mfx-white;
    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 13px;
    -fx-padding: 8px 16px;
}
.mfx-combo-box-cell:hover {
    -fx-background-color: -mfx-under-window-background;
}
.mfx-combo-box-popup {
    -fx-background-color: -mfx-white;
    -fx-background-radius: 9px;
    -fx-border-color: -mfx-under-window-background;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;
    -fx-padding: 4px;
}
.mfx-combo-box-cell:selected {
    -fx-background-color: -mfx-gray-dark;
    -fx-text-fill: -mfx-color-black-text-primary;
}

.descrption {
    -fx-min-height: 80px;
    -fx-pref-height: 80px;
    -fx-max-height: 80px;
    -fx-min-width: 392px;
    -fx-pref-width: 392px;
    -fx-max-width: 392px;
    -fx-background-color: -mfx-white;
    -fx-background-radius: 9px;
    -fx-border-color: -mfx-color-separator;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;
    -fx-padding: 8px;
    -fx-alignment: top-left;
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-prompt-text-fill: -mfx-color-black-text-secondary;
    -fx-highlight-text-fill: -mfx-color-black-text-primary;
    -fx-highlight-fill: -mfx-highlight-color;
}

.descrption:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}
.descrption:hover {
    -fx-border-color: -mfx-gray-dark;
}

.descrption .scroll-pane .scroll-bar:vertical,
.descrption .scroll-pane .scroll-bar:horizontal,
.descrption .scroll-pane .corner {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.no-scroll-area {
    -fx-padding: 8px;
}
.descrption .viewport .content{
    -fx-padding: 0;
    -fx-border-color: -mfx-white;
    -fx-background-color: -mfx-white;
}

.invalid-field {
    -fx-background-color: -mfx-white !important;
    -fx-background-radius: 9px;
    -fx-border-color: -mfx-red-error !important;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;
    -fx-text-fill: -mfx-red-error !important;
}
.invalid-field:hover {
    -fx-background-color: -mfx-white !important;
}

.center-pane {
    -fx-spacing: 44px;
}



