@import '../util/colors.css';
@import '../../fonts/Fonts.css';

.root {
    -fx-min-width: 1280px;
    -fx-pref-width: 1280px;
    -fx-min-height: 720px;
    -fx-pref-height: 720px;

    -fx-background-color: -mfx-white;
}
.card {
    -fx-min-width: 380px;
    -fx-pref-width: 380px;
    -fx-max-width: 380px;
    -fx-min-height: 620px;
    -fx-pref-height: 620px;
    -fx-max-height: 650px;
    -fx-background-color: -mfx-white;
    -fx-background-radius: 15px;
    -fx-border-color: -mfx-color-separator;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-padding: 0px 0px 20px 0px;
}

.header-card {
    -fx-min-height: 80px;
    -fx-pref-height: 80px;
    -fx-max-height: 80px;
    -fx-alignment: center;
    -fx-background-color: -mfx-under-window-background;
    -fx-background-radius: 10px 10px 0 0;
    -fx-padding: 0px 16px
}

.content {
    -fx-padding: 24px;
    -fx-background-color: transparent;
    -fx-spacing: 16px;
}
.header-card {
    -fx-min-height: 80px;
    -fx-pref-height: 80px;
    -fx-max-height: 80px;
    -fx-background-color: -mfx-under-window-background;
    -fx-background-radius: 10px 10px 0 0;
    -fx-padding: 8px 16px;
    -fx-alignment: center;
}

.button-backPage {
    -fx-min-width: 32px;
    -fx-pref-width: 32px;
    -fx-max-width: 32px;
    -fx-min-height: 32px;
    -fx-pref-height: 32px;
    -fx-max-height: 32px;
    -fx-background-color: transparent;
    -fx-background-radius: 9px;
    -fx-padding: 0;
    -fx-content-display: graphic-only;
}
.button-backPage:hover {
    -fx-background-color: -mfx-gray-light;
}
.icon-arrow {
    -fx-icon-code:"mdi2c-chevron-left";
    -fx-icon-size: 22px;
    -fx-icon-color: -mfx-color-black-text-secondary;
}

.button-backPage:hover #icon-arrow {
    -fx-icon-color: -mfx-color-black-text-primary;
}
.button-backPage .mfx-ripple-generator {
    -mfx-ripple-color: transparent;
}

.hbox-component {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-spacing: 4px;
}
.hbox-component.center {
    -fx-alignment: center;
}

.hbox-component.center-left {
    -fx-alignment: center-left;
}

.vbox-component {
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;
    -fx-spacing: 4px;
}
.text-title {
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 17px;
    -fx-text-fill: -mfx-color-black-text-primary;
}

.text-floating {
    -fx-font-family: "SF Pro Display SemiBold";
    -fx-font-size: 15px;
    -fx-text-fill: -mfx-color-black-text-primary;
}

.text-error {
    -fx-font-family: "SF Pro Display Regular";
    -fx-font-size: 11px;
    -fx-text-fill: -mfx-red-error;
}

.icon-error {
    -fx-icon-code: "mdi2a-alert-circle";
    -fx-icon-size: 13px;
    -fx-icon-color: -mfx-red-error;
}

.field{
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;

    -fx-background-color: transparent;
    -fx-background-radius: 9px;
    -fx-border-color: -mfx-color-separator;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;

    -fx-padding: 3px 8px;

    -fx-font-family: 'SF Pro Display Regular';
    -fx-font-size: 15px;

    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-prompt-text-fill: -mfx-color-black-text-secondary;
    -fx-highlight-fill: -mfx-highlight-color;
    -fx-highlight-text-fill: -mfx-color-black-text-primary;
}

.mfx-password-field {
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;

    -fx-background-color: transparent;
    -fx-background-radius: 9px;
    -fx-border-color: -mfx-color-separator;
    -fx-padding: 0px 8px;
    -fx-font-family: 'SF Pro Display Regular';
    -fx-font-size: 15px;

    -fx-text-fill: -mfx-color-black-text-primary;
    -fx-prompt-text-fill: -mfx-color-black-text-secondary;

    -mfx-float-mode: DISABLED;
}

.mfx-password-field .mfx-icon-wrapper .eye-icon {
    -mfx-color: -mfx-color-black-text-primary;
    -mfx-size: 15px;
}

.mfx-password-field .mfx-icon-wrapper .mfx-ripple-generator {
    -mfx-ripple-color: transparent;
}

.mfx-password-field .text-field,
.mfx-password-field > .text,
.mfx-password-field *{
    -fx-highlight-fill: -mfx-highlight-color;
}

.field:hover,
.mfx-password-field:hover {
    -fx-border-color: -mfx-gray-dark;
}

.invalid-field {
    -fx-background-color: -mfx-white !important;
    -fx-background-radius: 9px;
    -fx-border-color: -mfx-red-error !important;
    -fx-border-width: 1px;
    -fx-border-radius: 9px;
    -fx-text-fill: -mfx-red-error !important;
}
.invalid-field:hover {
    -fx-background-color: -mfx-white !important;
}
.invalid-icon .mfx-icon-wrapper .eye-icon {
    -mfx-color: -mfx-red-error !important;
    -mfx-size: 15px;
}

.button-login {
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;

    -fx-padding: 3px 8px;

    -fx-background-color: -mfx-black-contrast;
    -fx-background-radius: 9px;

    -fx-text-fill: -mfx-color-white-text-secondary;
    -fx-font-family: 'SF Pro Display Semibold';
    -fx-font-size: 15px;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 6, 0, 0, 2);

}
.button-login .mfx-ripple-generator {
    -mfx-ripple-color: transparent;
}

.button-login:hover {
    -fx-background-color: -mfx-black;
    -fx-text-fill: -mfx-color-white-text-primary;
}

.vbox-alert-account {
    -fx-min-height: 60px;
    -fx-pref-height: 60px;
    -fx-max-height: 60px;

    -fx-alignment: top-left;
    -fx-padding: 8px;

    -fx-background-color: -mfx-yellow-alert-background;
    -fx-background-radius: 9px;
}

.icon-alert-account-title {
    -fx-icon-code: "mdi2a-alert";
    -fx-icon-size: 13px;
    -fx-icon-color: -mfx-color-black-text-primary;
}
.text-alert-accoun-title {
    -fx-font-family: 'SF Pro Display Semibold';
    -fx-font-size: 13px;
    -fx-text-fill: -mfx-color-black-text-primary;
}
.text-alert-account-message {
    -fx-font-family: 'SF Pro Display Regular';
    -fx-font-size: 11px;
    -fx-text-fill: -mfx-color-black-text-primary;
}

#icon-logo {
    -fx-fit-height: 48px;
    -fx-fit-width: 48px;
    -fx-padding: 0;
    -fx-image: url('../../image/logo/logo-fill.png');
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.12), 24, 0, 0, 6);
}

.vbox-cardtitle {
    -fx-min-height: 60px;
    -fx-pref-height: 60px;
    -fx-max-height: 60px;

    -fx-alignment: center;
    -fx-padding: 8px;

    -fx-background-color: -mfx-under-window-background;
    -fx-background-radius: 9px;
}

.text-cardtitle {
    -fx-font-family: 'SF Pro Display Semibold';
    -fx-font-size: 17px;
    -fx-text-fill: -mfx-color-black-text-primary;
}